/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
	background-color: #FFFEF8;
}

footer{
	background-color: #FFFFFF;
}

footer li {
	margin-top: 1.5em;
	font-size: 14px;
	font-family: "Work Sans";
	font-style: normal;
	font-weight: 300;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/
body {
	max-width: 1140px;
	margin: auto;
	font-family: 'Work Sans';
	font-size: 14px;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}

section {
	margin: 50px 0
}

#instagram-icon {
	width: 20px;
	height: 20px;
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1>span {
	font-family: 'Syne';
	font-size: 10px;
	letter-spacing: 0.1em;
	;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}

#forgot-password {
	text-align: center;
	color: #3D3D3D;
}

#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
	font-family: "Work Sans";
	font-size: 14px;
	max-width: 400px;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

.gallery {
	margin: auto;
	width: 90%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}

#contact {
	width: 50%;
	margin: auto;
}

#contact>* {
	text-align: center;

}

#contact h2 {
	margin-bottom: 20px;
}

#contact form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#contact input,
#add-photo-form input {
	height: 36px;
	font-size: 1.2em;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	border: none;
	font-family: 'Work Sans';
}

#contact label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
	font-family: 'Work Sans';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	width: 237px;
	text-align: center;
	border-radius: 60px;
}

#filters {
	display: flex;
	justify-content: center;
	gap: 10px;
	margin-bottom: 2em;
}

.filter-button {
	font-family: 'Work Sans';
	font-weight: 600;
	font-size: 16px;
	color: #1D6154;
	background-color: white;
	padding: 10px;
	border-radius: 60px;
	text-align: center;
	border: #1D6154 1px solid;
}

.filter-button:hover {
	background-color: #1D6154;
	cursor: pointer;
	color: white;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

/* Modale */
#modal-overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: 1000;
}

#modal-title {
	font-family: 'Work Sans';
	font-weight: 300;
	font-size: 26px;
	color: black;
	margin-bottom: 1.5em;
	margin-top: 1em;
	text-align: center;

}

#modal-content {
	background: #fff;
	margin: 10vh auto;
	padding: 2em;
	border-radius: 8px;
	position: relative;
	height: 630px;
	width: 600px;
}

#close-modal {
	position: absolute;
	top: 10px;
	right: 10px;
	background: none;
	border: none;
	font-size: 1.5em;
}

#modal-gallery {
	display: grid;
	grid-template-columns: repeat(5, 84px);
	grid-template-rows: repeat(3, 120px);
	justify-items: center;
	margin-left: auto;
	margin-right: auto;
	row-gap: 0.5em;
	width: 420px;
	height: 400px;
}

.modal-figure {
	display: flex;
	position: relative;
	margin: 0;
}

.modal-figure img {
	width: 77px;
	height: 103px;
}

.trash-icon {
	text-align: center;
	position: absolute;
	top: 5px;
	right: 5px;
	width: 14px;
	height: 14px;
	cursor: pointer;
	background-color: black;
	border-radius: 2px;
	padding-top: 2px;
}

#first-modal {
	justify-content: center;
}

#edit-mode {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 40px;
	background: rgba(0, 0, 0, 1);
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	text-align: left;
}

#edit-mode svg {
	margin: 0;
}

#edit-mode p {
	margin: 0;
	color: white;
	display: flex;
	align-items: center;
}

#login-btn {
	color: inherit;
	text-decoration: none;
	font: inherit;
	font-weight: 400;
}

#login-btn.active {
	font-weight: 700;
	text-shadow: .2px 0 #000,
		-0.2px 0 #000,
		0 0.2px #000,
		0 -0.2px #000
}

#login-main {
	height: 600px;
}

#portfolio-header {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 4em;
	margin-top: 6em;
}

#portfolio-header h2 {
	margin: 0;
	text-align: center;
	position: absolute;
}

.gallery-figure {
	overflow: hidden;
	position: relative;
}

#edit-btn {
	border: none;
	background: none;
	cursor: pointer;
	margin-left: 30%;
}

#edit-btn-text {
	display: flex;
	margin-left: 1em;
	margin-top: 2px;
}

#file-format {
	font-size: 10px;
	font-family: 'Work Sans';
	color: #444444;
	margin-top: 5px;
}

.separator {
	width: 420px;
	margin-top: 2em;
	justify-content: center;
	border-top: 1px solid #B3B3B3;
	margin-left: auto;
	opacity: 0.5;
	margin-right: auto;
}

#back-to-gallery {
	display: none;
}

.add-btn {
	font-family: 'Work Sans';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	width: 237px;
	text-align: center;
	border-radius: 60px;
	height: 36px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.add-photo-preview {
	max-width: 100%;
	max-height: 100%;
}

#add-photo-form {
	max-width: 420px;
	margin: auto;
	border-radius: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
}

#add-photo-form label {
	margin-top: 1em;
	display: block;
	font-weight: 500;
	font-family: 'Work Sans';
	font-size: 14px;
}

#add-photo-form input[type="file"] {
	margin-bottom: 1em;
}

#add-photo-form input[type="text"] {
	padding-left: 1em;
	padding-right: 1em;
	margin-bottom: 1em;
	margin-top: 1em;
	border-radius: 4px;
	color: #444444;
	font-size: 14px;
	height: 50px;
}

#add-photo-form .add-btn {
	margin-top: 1em;
}

.add-photo-label {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: #CBD6DC;
	color: #306685;
	border-radius: 20px;
	padding: 0.7em 1.2em;
	font-weight: 600;
	font-size: 15px;
	cursor: pointer;
	transition: background 0.2s;
	margin-bottom: 0;
}

#category-title {
	font-family: 'Work Sans';
	font-weight: 500;
	font-size: 14px;
	margin-top: 1em;
}

#category-input {
	padding-left: 1em;
	padding-right: 1em;
	margin-bottom: 0.5em;
	border-radius: 4px;
	color: #444444;
	margin-top: 1em;
	display: block;
	font-weight: 400;
	height: 50px;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	border: none;
	font-family: 'Work Sans';
	font-size: 14px;
}

#photo-input {
	display: none;
}

#back-to-gallery {
	position: absolute;
	top: 10px;
	left: 10px;
	background: none;
	border: none;
	font-size: 1em;
	cursor: pointer;
}

.add-photo-upload-box {
	width: 420px;
	height: 170px;
	background: #E8F1F6;
	margin: 0 auto 1.5em auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	box-sizing: border-box;
}